In [1]:
import numpy as np 
import pandas as pd 

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/lending-club/rejected_2007_to_2018Q4.csv.gz
/kaggle/input/lending-club/accepted_2007_to_2018Q4.csv.gz
/kaggle/input/lending-club/accepted_2007_to_2018q4.csv/accepted_2007_to_2018Q4.csv
/kaggle/input/lending-club/rejected_2007_to_2018q4.csv/rejected_2007_to_2018Q4.csv

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv(
    '/kaggle/input/lending-club/accepted_2007_to_2018q4.csv/accepted_2007_to_2018Q4.csv',
    low_memory=False
)

print("Dataset Shape:", df.shape)

Dataset Shape: (2260701, 151)

In [4]:
df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 2.5+ GB

**Duplicate Check**

In [6]:
duplicate_count = df.duplicated().sum()
duplicate_count

0

In [7]:
missing_percent = (df.isnull().sum() / len(df)) * 100
missing_percent = missing_percent.sort_values(ascending=False)

missing_percent.head(20)

member_id                                     100.000000
orig_projected_additional_accrued_interest     99.617331
hardship_end_date                              99.517097
hardship_start_date                            99.517097
hardship_type                                  99.517097
hardship_reason                                99.517097
hardship_status                                99.517097
deferral_term                                  99.517097
hardship_last_payment_amount                   99.517097
hardship_payoff_balance_amount                 99.517097
hardship_loan_status                           99.517097
hardship_dpd                                   99.517097
hardship_length                                99.517097
payment_plan_start_date                        99.517097
hardship_amount                                99.517097
settlement_term                                98.485160
debt_settlement_flag_date                      98.485160
settlement_status                              98.485160
settlement_date                                98.485160
settlement_amount                              98.485160
dtype: float64

In [8]:
df['loan_status'].value_counts()

loan_status
Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: count, dtype: int64

In [9]:
df['loan_status'].value_counts(normalize=True) * 100

loan_status
Fully Paid                                             47.629771
Current                                                38.852100
Charged Off                                            11.879630
Late (31-120 days)                                      0.949587
In Grace Period                                         0.373164
Late (16-30 days)                                       0.192377
Does not meet the credit policy. Status:Fully Paid      0.087939
Does not meet the credit policy. Status:Charged Off     0.033663
Default                                                 0.001769
Name: proportion, dtype: float64

In [10]:
df[['loan_amnt', 'annual_inc', 'int_rate', 'dti']].describe()

          loan_amnt    annual_inc      int_rate           dti
count  2.260668e+06  2.260664e+06  2.260668e+06  2.258957e+06
mean   1.504693e+04  7.799243e+04  1.309283e+01  1.882420e+01
std    9.190245e+03  1.126962e+05  4.832138e+00  1.418333e+01
min    5.000000e+02  0.000000e+00  5.310000e+00 -1.000000e+00
25%    8.000000e+03  4.600000e+04  9.490000e+00  1.189000e+01
50%    1.290000e+04  6.500000e+04  1.262000e+01  1.784000e+01
75%    2.000000e+04  9.300000e+04  1.599000e+01  2.449000e+01
max    4.000000e+04  1.100000e+08  3.099000e+01  9.990000e+02

In [11]:
categorical_cols = df.select_dtypes(include='object').columns

high_cardinality = {
    col: df[col].nunique()
    for col in categorical_cols
    if df[col].nunique() > 50
}

high_cardinality

{'id': 2260701,
 'emp_title': 512694,
 'issue_d': 139,
 'url': 2260668,
 'desc': 124500,
 'title': 63154,
 'zip_code': 956,
 'addr_state': 51,
 'earliest_cr_line': 754,
 'last_pymnt_d': 136,
 'next_pymnt_d': 106,
 'last_credit_pull_d': 141,
 'sec_app_earliest_cr_line': 663,
 'debt_settlement_flag_date': 83,
 'settlement_date': 90}

# Data Quality Agent implementation

**Drop columns with extreme missing values**

In [12]:
missing_percent = (df.isnull().sum() / len(df)) * 100
high_missing_cols = missing_percent[missing_percent > 95].index.tolist()

print(f"Columns to drop due to high missing values: {len(high_missing_cols)}")

df = df.drop(columns=high_missing_cols)

Columns to drop due to high missing values: 34

**Drop identifier, leakage & high-cardinality columns**

In [13]:
# Rule 2: Drop identifier and non-predictive columns
drop_cols = [
    'id', 'member_id', 'url', 'emp_title', 'desc', 'title',
    'zip_code'
]

# Drop only if present
drop_cols = [col for col in drop_cols if col in df.columns]
df = df.drop(columns=drop_cols)

print("Dropped identifier & high-cardinality columns")

Dropped identifier & high-cardinality columns

**Filter only completed loans**

In [14]:
# Rule 3: Keep only completed loan outcomes
valid_status = [
    'Fully Paid',
    'Charged Off',
    'Default',
    'Does not meet the credit policy. Status:Fully Paid',
    'Does not meet the credit policy. Status:Charged Off'
]

df = df[df['loan_status'].isin(valid_status)]

print("Remaining loan_status distribution:")
print(df['loan_status'].value_counts())

Remaining loan_status distribution:
loan_status
Fully Paid                                             1076751
Charged Off                                             268559
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: count, dtype: int64

**Create binary target variable (Agent Decision Label)**

In [15]:
# Rule 4: Create target variable (Accepted vs Rejected)
df['loan_accepted'] = df['loan_status'].apply(
    lambda x: 1 if 'Fully Paid' in x else 0
)

df['loan_accepted'].value_counts()

loan_accepted
1    1078739
0     269360
Name: count, dtype: int64

**Handle numeric anomalies**

In [16]:
# Rule 5: Remove invalid numeric values

# annual_inc must be > 0
df = df[df['annual_inc'] > 0]

# dti must be between 0 and 60 (industry-safe cap)
df = df[(df['dti'] >= 0) & (df['dti'] <= 60)]

print("Dataset shape after numeric anomaly handling:", df.shape)

Dataset shape after numeric anomaly handling: (1346005, 112)

In [17]:
df[['loan_amnt', 'annual_inc', 'int_rate', 'dti']].describe()

          loan_amnt    annual_inc      int_rate           dti
count  1.346005e+06  1.346005e+06  1.346005e+06  1.346005e+06
mean   1.440170e+04  7.632833e+04  1.323799e+01  1.812772e+01
std    8.710972e+03  6.993629e+04  4.763021e+00  8.519815e+00
min    5.000000e+02  6.000000e+02  5.310000e+00  0.000000e+00
25%    7.950000e+03  4.600000e+04  9.750000e+00  1.178000e+01
50%    1.200000e+04  6.500000e+04  1.274000e+01  1.759000e+01
75%    2.000000e+04  9.000000e+04  1.599000e+01  2.402000e+01
max    4.000000e+04  1.099920e+07  3.099000e+01  6.000000e+01

In [18]:
df.isnull().mean().sort_values(ascending=False).head(10)

next_pymnt_d                      0.997931
verification_status_joint         0.982510
dti_joint                         0.982382
annual_inc_joint                  0.982380
mths_since_last_record            0.829843
mths_since_recent_bc_dlq          0.763287
mths_since_last_major_derog       0.737499
mths_since_recent_revol_delinq    0.666144
il_util                           0.655789
mths_since_rcnt_il                0.612638
dtype: float64

# STEP-3: Feature Selection & Encoding Agent

**Separate target & drop leakage columns**

In [20]:
# Separate target variable
y = df['loan_accepted']

# Drop target and original status column from features
X = df.drop(columns=['loan_accepted', 'loan_status'])

print("Feature matrix shape:", X.shape)

Feature matrix shape: (1346005, 110)

**Select core, business-relevant features**

In [21]:
core_features = [
    # Loan & pricing
    'loan_amnt', 'term', 'int_rate', 'installment',
    
    # Borrower financial health
    'annual_inc', 'dti', 'verification_status',
    'emp_length', 'home_ownership',
    
    # Credit behavior
    'fico_range_low', 'fico_range_high',
    'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
    'total_acc',
    
    # Loan purpose
    'purpose', 'grade', 'sub_grade'
]

# Keep only features that exist
core_features = [col for col in core_features if col in X.columns]

X = X[core_features]

print("Selected features:", X.columns.tolist())

Selected features: ['loan_amnt', 'term', 'int_rate', 'installment', 'annual_inc', 'dti', 'verification_status', 'emp_length', 'home_ownership', 'fico_range_low', 'fico_range_high', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'purpose', 'grade', 'sub_grade']

**Identify numeric vs categorical features**

In [22]:
numeric_features = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = X.select_dtypes(include=['object']).columns.tolist()

numeric_features, categorical_features

(['loan_amnt',
  'int_rate',
  'installment',
  'annual_inc',
  'dti',
  'fico_range_low',
  'fico_range_high',
  'open_acc',
  'pub_rec',
  'revol_bal',
  'revol_util',
  'total_acc'],
 ['term',
  'verification_status',
  'emp_length',
  'home_ownership',
  'purpose',
  'grade',
  'sub_grade'])

**Handle missing values**

In [23]:
from sklearn.impute import SimpleImputer

# Imputers
num_imputer = SimpleImputer(strategy='median')
cat_imputer = SimpleImputer(strategy='most_frequent')

X[numeric_features] = num_imputer.fit_transform(X[numeric_features])
X[categorical_features] = cat_imputer.fit_transform(X[categorical_features])

**Encode categorical variables**

In [24]:
X = pd.get_dummies(X, columns=categorical_features, drop_first=True)

print("Encoded feature shape:", X.shape)

Encoded feature shape: (1346005, 83)

In [25]:
X.isnull().sum().sum(), X.shape

(0, (1346005, 83))

# Step-4: Risk Prediction Model

**Train / Test split**

In [ ]:
from sklearn.model_selection import train_test_split

# Optional: sample for faster experimentation (recommended)
df_sample_X, _, df_sample_y, _ = train_test_split(
    X, y, 
    train_size=300_000, 
    stratify=y, 
    random_state=42
)

X_train, X_test, y_train, y_test = train_test_split(
    df_sample_X,
    df_sample_y,
    test_size=0.2,
    stratify=df_sample_y,
    random_state=42
)

X_train.shape, X_test.shape

**Feature scaling (numeric stability)**

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

**Train Logistic Regression (Baseline Model)**

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(
    max_iter=1000,
    class_weight='balanced',  # handles class imbalance
    n_jobs=-1
)

model.fit(X_train_scaled, y_train)

**Model evaluation**

In [ ]:
from sklearn.metrics import (
    classification_report,
    roc_auc_score
)

y_pred = model.predict(X_test_scaled)
y_proba = model.predict_proba(X_test_scaled)[:, 1]

print(classification_report(y_test, y_pred))
print("ROC-AUC:", roc_auc_score(y_test, y_proba))

**Interpret coefficients (Decision reasoning)**

In [ ]:
import pandas as pd
import numpy as np

feature_importance = pd.Series(
    model.coef_[0],
    index=X.columns
).sort_values()

feature_importance.head(10), feature_importance.tail(10)